#cloud-config
users:
  - name: ${user_name}
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
    %{ for public_ssh_key in ssh_keys ~}
      - ${public_ssh_key}
    %{ endfor ~}